body{

}
table{
	width: 550px;
	border-collapse: collapse;
	border: 2px solid #000;
	margin: 0 auto;
}
caption{
	text-align: center;
	margin-bottom: 0.3em;
	border-bottom: 1px solid #333;
	padding-right: 0.3em;

}
thead tr th {
	text-align: center;
	border-bottom: 2px solid #000;
	border-left: 2px solid #000;
}
tr td, tr th{

	text-align: center;
	font-size: 0.9em;
	border: 1px dotted #333;
}
tfoot tr td{
	text-align: center;
	border-top: 2px solid #000;
}
.impar{ 
	background: #add6ef;
}
.par{
	background: #d6e2e5;
}
.destacar{
	background: #444;
	color: #fff;
}